@media print {
	.no-print {
		display: none;
	}

	.failure {
  		color:red !important;
	}

	body {
		margin-top: 0px;
	    margin-bottom: 0px;
	    font-size: 15px;
	}

	@page {
		margin-top: 0px;
	    margin-bottom: 0px;
	}
}


